.container {
    text-align: center;
    background-color: white;
    /*border: 1px solid #ccc;*/
    padding: 20px;
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
    width: 50%;
    margin-left: 25%;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}

.error {
    display:none;
    margin-top: 20px;
    color: red; 
    font-size: smaller;    
    font-weight: 600;       
    
}

#message {
    max-width: 100%;
    margin: 20px auto;
}